APP_NAME="Wallet Finanzas"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://apiwallet.bsolutions.dev

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wallet_finanzas
DB_USERNAME=wallet_app
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=smtp
MAIL_SCHEME=tls
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS="noreply@bsolutions.dev"
MAIL_FROM_NAME="${APP_NAME}"
